@import "./colors.scss";

$body-bg: $cyan;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
);

$colors: (
  "tertiary": $tertiary,
);

@import "~bootstrap/scss/bootstrap";

* {
    font-family: "Helvetica Neue", sans-serif;
}
