@import "../../styles/colors.scss";

.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border: none;
  height: 128px;

  .title {
    color: $primary;
  }

  .subtitle {
    font-weight: normal;
  }

  .link {
    color: $secondary;
    position: relative !important;

    &:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: $secondary;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    &:hover:after {
      width: 100%;
      left: 0;
    }
  }
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card img {
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
  height: 128px;
}
