@import "../../styles/colors.scss";

button {
  margin-left: -30px;
  background-color: transparent !important;
  border-color: transparent !important;
  padding: 0 !important;
}
svg {
  fill: $primary;
}

.search {
  padding-right: 34px;
  color: $tertiary !important;
}
