@import "../../styles/colors.scss";

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.0827688);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

h5 {
  &:nth-of-type(odd) {
    color: $primary;
  }
  &:nth-of-type(even) {
    color: $secondary;
  }
}
